#    Copyright 2010 InnoBox Devices <code@innoboxdevices.com>
#    This file is part of InnoBox Core.
#
#    InnoBox Core is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    InnoBox Core is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with InnoBox Core.  If not, see <http://www.gnu.org/licenses/>.




# Invoke InnoBoxe's signature feature. Dump IP address and HTML to a USB stick that the user inserts. 
KERNEL=="sd*", SUBSYSTEMS=="usb", ACTION=="add", RUN+="/usr/share/innobox-info2stick/launch.sh %k"
