# Invoke InnoBoxe's signature feature. Dump IP address and HTML to a USB stick that the user inserts. 
KERNEL=="sd*", SUBSYSTEMS=="usb", ACTION=="add", RUN+="/usr/share/innobox-info2stick/launch.sh %k"
